<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%=vaultName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Welcome to <%=vaultName%></h1>
    <p><a href="/about">Learn About <%=vaultName%></a></p>
    <p><a href="/register">Register with <%=vaultName%></a></p>
    <p><a href="/login">Log in here </a></p>

    <!-- Other links or content -->
</body>
</html>
